.Title {
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    margin-bottom: 2em;
    background-color: rgb(232 234 240);
    color: #14b8b9;
    text-align: center;
}
.Title-Subtitle {
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
}

.Title .nav-link {
    display: inline-block;
    padding: 0.5em 1em;
    color: rgba(238, 203, 98, 0.835);
    font-weight: bold;
    text-decoration: none;
}

.Title .nav-link-active {
    color: red;
    border-bottom: 2px solid;
}