
.RandomSpace .nav-link {
    padding: 0.5em 1em;
    color: rgba(238, 203, 98, 0.835);
    font-weight: bold;
    text-decoration: none;
    border-style: none;
    background: none;
    size: 20px;
}